<Configuration>

    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{ISO8601}{GMT+0} UTC %-5p %c - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.verisec.frejaeid" additivity="false" level="DEBUG">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>


